*.o
.obsidian/
Claude_Chess.code-workspace
# Ignore all .fen files by default
*.fen
# But do not ignore the FEN_FILES directory or it's contents
!FEN_FILES/
!FEN_FILES/*
*.pgn
chess
fen_to_pgn
micro_test
fen_to_pgn.dSYM/
micro_test.dSYM/
debug_*
pgn_to_fen
pgn_to_fen.dSYM/
